<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 扫描注解包 -> RequestMappingHandlerMapping -->
	<!-- <context:component-scan base-package="com.lc.spring" /> -->
	<context:component-scan base-package="com.lc.spring.mvc" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>

	<!-- 配置静态资源处理器：将SpringMVC处理不了的请求交给tomcat；静态资源 就可以访问 -> SimpleUrlHandlerMapping -->
	<mvc:default-servlet-handler/>

    <!-- 配置freemarker -->
    <bean id="freemarkerConfig"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="/views/" />
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">10</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>

    <!-- 配置视图解析器 -> BeanNameUrlHandlerMapping -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="suffix" value=".html" />
        <property name="contentType" value="text/html;charset=UTF-8"></property>
    </bean>

    <mvc:interceptors>
        <!-- 特定拦截器 -->
        <mvc:interceptor>
            <!-- mvc:mapping可以单独使用；mvc:exclude-mapping必须	和mvc:mapping一起使用 -->
            <mvc:mapping path="/springmvc/**"/>
            <mvc:exclude-mapping path="/springmvc/test/**"/>
            <bean class="com.lc.spring.mvc.interceptor.SpecialInterceptor"/>
        </mvc:interceptor>
        <!-- 全局拦截器 -->
        <bean class="com.lc.spring.mvc.interceptor.GlobalInterceptor"/>
    </mvc:interceptors>

    <!-- SpringMVC的高级功能开启 -->
	<mvc:annotation-driven/>
</beans>
